<div id="configPage" data-role="page" data-theme="e">
	
	<div id="main" data-role="content">
            <ul>
		<li>Config</li>
            </ul>
        </div><!--FIN DE CONTENIDO-->
	<div data-role="footer" data-id="fool" data-position="fixed">
		<div data-role="navbar" class="ui-body-e">	
			<ul>
				<li id="config"><a data-role="button" data-icon="home">Home</a></li>
				<li id="config"><a class="ui-btn-active ui-state-persist" data-role="button" data-icon="gear">Config</a></li>
				<li id="info"><a data-role="button" data-icon="info">Info</a></li>
				<li id="historial"><a data-role="button" data-icon="grid">Historial</a></li>
			</ul>
		</div>
	</div>


</div><!--FIN DE LA PAGINA-->
