<div id="historialPage" data-role="page" data-theme="e">
	
	<div id="main" data-role="content">
		<ul class="ui-listview" data-divider-theme="d" data-theme="d" data-role="listview">
			<li class="ui-li ui-li-divider ui-bar-d ui-li-has-count" data-role="list-divider" role="heading">
				Sabado, 8 de Octubre, 2011
				<span class="ui-li-count ui-btn-up-c ui-btn-corner-all">2</span>
			</li>
			<li class="ui-btn ui-btn-icon-right ui-li-has-arrow ui-li ui-btn-up-d" data-corners="false" data-shadow="false" 				data-iconshadow="true" data-wrapperels="div" data-icon="arrow-r" data-iconpos="right" data-theme="d">
				<div class="ui-btn-inner ui-li">
					<div class="ui-btn-text">
						<a class="ui-link-inherit" href="index.html">
							<p class="ui-li-aside ui-li-desc"><strong>6:24</strong>PM</p>
							<h3 class="ui-li-heading">Casa de Anibal</h3>
							<p class="ui-li-desc"><strong></strong></p>
							<p class="ui-li-desc">Hey Stephen, if you're available at 10am tomorrow, we've got a 									meeting with the jQuery team.</p>
						</a>
					</div>
					<span class="ui-icon ui-icon-arrow-r ui-icon-shadow">&nbsp;</span>
				</div>
			</li>
			<li class="ui-li ui-li-divider ui-bar-d ui-li-has-count" data-role="list-divider" role="heading">
				Sabado, 8 de Octubre, 2011
				<span class="ui-li-count ui-btn-up-c ui-btn-corner-all">2</span>
			</li>
			<li class="ui-btn ui-btn-icon-right ui-li-has-arrow ui-li ui-btn-up-d" data-corners="false" data-shadow="false" 				data-iconshadow="true" data-wrapperels="div" data-icon="arrow-r" data-iconpos="right" data-theme="d">
				<div class="ui-btn-inner ui-li">
					<div class="ui-btn-text">
						<a class="ui-link-inherit" href="index.html">
							<p class="ui-li-aside ui-li-desc"><strong>6:24</strong>PM</p>
							<h3 class="ui-li-heading">Casa de Anibal</h3>
							<p class="ui-li-desc"><strong></strong></p>
							<p class="ui-li-desc">Hey Stephen, if you're available at 10am tomorrow, we've got a 									meeting with the jQuery team.</p>
						</a>
					</div>
					<span class="ui-icon ui-icon-arrow-r ui-icon-shadow">&nbsp;</span>
				</div>
			</li>
		</ul>
            
        </div><!--FIN DE CONTENIDO-->
	<div data-role="footer" data-id="fool" data-position="fixed">
		<div data-role="navbar" class="ui-body-e">	
			<ul>
				<li id="config"><a data-role="button" data-icon="home">Home</a></li>
				<li id="config"><a data-role="button" data-icon="gear">Config</a></li>
				<li id="info"><a data-role="button" data-icon="info">Info</a></li>
				<li id="historial"><a class="ui-btn-active ui-state-persist" data-role="button" data-icon="grid">Historial</a></li>
			</ul>
		</div>
	</div>


</div><!--FIN DE LA PAGINA-->
