<div id="indexPage" data-role="page" data-theme="e">
	
	<div id="main" data-role="content" style="padding: px">
            <div id="login" >
           	 <form action="form.php" method="get"> 
           	     <div data-role="fieldcontain">
           	         <fieldset data-role="controlgroup">
           	             <label for="textinput2"></label>
           	             <input id="textinput2" placeholder="" value="Usuario" type="text" />
           	         </fieldset>
           	     </div>
           	     <div data-role="fieldcontain">
           	         <fieldset data-role="controlgroup">
           	             <label for="textinput3"></label>
           	             <input id="textinput3" placeholder="" value="Password" type="text" />
           	         </fieldset>
           	     </div>
		    
		</form> <!--FIN DE LOGIN-->
		 <a id="aceptar" data-role="button" data-mini="true">Aceptar</a>
                <div data-role="fieldcontain">
                    <fieldset data-role="controlgroup" data-theme="a" data-type="vertical" data-mini="true">
                        <legend>
                        </legend>
                        <input name="checkbox1" id="checkbox1" type="checkbox" />
                        <label for="checkbox1">
                            Permanecer logueado
                        </label>
                    </fieldset>
                </div>
                
                    <div data-role="fieldcontain">
                        <fieldset data-role="controlgroup" data-type="horizontal" data-mini="true">
                            <legend><span style="color:orange">
                                WTF¿No tiene usuario?Desea:
                        </span>    </legend>
                            <input name="radiobuttons1" id="radio2" value="radio2" type="radio" />
                            <label for="radio2">
                                Usar FB
                            </label>
                            <input name="radiobuttons1" id="radio3" value="radio3" type="radio" />
                            <label for="radio3">
                                Crear uno
                            </label>
                        </fieldset>
                    </div>
                
                <div data-role="navbar" data-iconpos="right">
                    <ul>
                    </ul>
                </div>
            </div>
        
            
            
	</div><!--FIN DE CONTENIDO-->
	


</div><!--FIN DE LA PAGINA-->
