<div id="menuPage" data-role="page">
	<div data-role="header">
		<a data-rel="back" data-icon="home" data-iconpos="notext" data-direction="reverse"
		class="ui-btn-right ui-btn ui-shadow ui-btn-corner-all ui-btn-icon-notext">
			<span class="ui-btn-inner ui-btn-corner-all">
				<span class="ui-btn-text">Salir
				</span>
				<span class="ui-icon ui-icon-delete ui-icon-shadow">
					&nbsp;
				</span>
			</span>
		</a>
		<h1>Menu</h1>
	</div><!--FIN DE:ENCABEZADO,TITULO,ICONO PARA CERRAR-->
	<div id="main" data-role="content">
            <ul>
                <li><img src="vistas/imagenes/organizar.png" hight="100%" width="100%" align="center"/></li>
                <li><img src="vistas/imagenes/carne.png" hight="100%" width="100%" align="center"/></li>
                <li><img src="vistas/imagenes/meeting.png" hight="100%" width="100%" align="center"/></li>
                <li><img src="vistas/imagenes/nota.png" hight="100%" width="100%" align="center"/></li>
            </ul>
        </div><!--FIN DE CONTENIDO-->
	<div data-role="footer"></div>


</div><!--FIN DE LA PAGINA-->