<div id="menuPage" data-role="page" data-theme="e	">
	
	<div id="main" data-role="content">
            <img src="vistas/imagenes/comer.png" hight="100%" width="100%" align="center"/>
        </div><!--FIN DE CONTENIDO-->
	<div data-role="footer" data-id="fool" data-position="fixed">
		<div data-role="navbar" class="ui-body-e">	
			<ul>
				<li id="config"><a class="ui-btn-active ui-state-persist" data-role="button" data-icon="gear">Config</a></li>
				<li id="info"><a data-role="button" data-icon="info">Info</a></li>
				<li id="historial"><a data-role="button" data-icon="grid">Historial</a></li>
			</ul>
		</div>
	</div>


</div><!--FIN DE LA PAGINA-->
